body {
    font-family: sans-serif;
}

nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-right: 1px solid rgba(25, 31, 35, 0.43);
    z-index: 1;
}

#graph {
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 300px;

}

hr {
    border: none;
    border-top: 1px solid rgba(25, 31, 35, 0.43);
    margin: 30px 0;
}

#submit {
    font-size: 150%;
}
